@model Egresados.Models.InformacionLaboral

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InformacionLaboral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trabajaActualmente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trabajaActualmente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombresJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombresJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoJefeLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoJefeLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreEmpresaLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEmpresaLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionEmpresaLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionEmpresaLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargoOcupacionLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargoOcupacionLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaIngresoLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaIngresoLaboral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaEgresoLaboral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEgresoLaboral)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InformacionLaboralID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
