@model IEnumerable<Egresados.Models.InformacionLaboral>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trabajaActualmente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombresJefeLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoJefeLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoJefeLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreEmpresaLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionEmpresaLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoOcupacionLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaIngresoLaboral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEgresoLaboral)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trabajaActualmente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombresJefeLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoJefeLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoJefeLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEmpresaLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccionEmpresaLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargoOcupacionLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngresoLaboral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEgresoLaboral)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InformacionLaboralID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InformacionLaboralID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InformacionLaboralID })
        </td>
    </tr>
}

</table>
