@model IEnumerable<Egresados.Models.PublicacionesEnEspera>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asunto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Informacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPublicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asunto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Informacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPublicacion)
        </td>
        <td>
            <a class="btn btn-warning" href="/PublicacionesEnEsperas/Edit/@item.PublicacionEnEspera">Editar<samp class="glyphicon glyphicon-edit"> </samp></a>

        <td> <a class="btn btn-info" href="/PublicacionesEnEsperas/Details/@item.PublicacionEnEspera">Detalles<samp class="glyphicon glyphicon-exclamation-sign"> </samp></a></td>

        <td> <a class="btn btn-danger" href="/PublicacionesEnEsperas/Details/@item.PublicacionEnEspera">Eliminar<samp class="glyphicon glyphicon-trash"> </samp></a></td>
        </td>
    </tr>
}

</table>
